.git
.gitignore
.venv
.venv.bak
.env
.env.*
!.env.example
.pytest_cache
.ruff_cache
.zed
.DS_Store
*.pyc
__pycache__
*.egg-info
dist
build
db.sqlite3
media/project
static
.eggs
*.egg
mypy_cache
.pyre
.tox
.coverage*
htmlcov
